.overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    //background-color: rgba(#171717, 0.6);
    transition: all 1.2s;

/*     &__active {
        display: block;
    } */

    .popup {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        width: 752px;
        
        &-close {
            position: absolute;
            right: -20px;
            top: -30px;
            font-size: 45px;
            color: $green;
            font-weight: 300;
            cursor: pointer;
            transform: rotate(-75deg);
            transition: all 0.6s;

            &:hover {
                transform: rotate(90deg);
            }
        }
        

        &-title {
            display: block;
            width: 100%;
            min-height: 71px;
            margin: 0;
            background: linear-gradient(to left, $green, rgb(51, 195, 231), rgb(0, 140, 221));
            color: #fff;
            text-transform: uppercase;
            line-height: 71px;
            font-size: 21px;
            font-weight: 500;
            text-align: center;
        }

        &-form {
            background: url(../assets/images/modal/modal-bg.jpg) center no-repeat;
            background-size: cover;
            padding: 35px 88px 50px 88px;
            color: #fff;

            &__header {
                padding: 0;
                font-size: 30px;
                font-weight: 400;
                line-height: 27px;
                text-align: center;
                    
                    span {
                        font-size: 20px;
                        text-transform: lowercase;
                    }
            }
            
            &__label {
                display: block;
                margin-top: 23px;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                text-transform: lowercase;

                span {
                    text-transform: capitalize;
                }
            }
            
            &__input {
                width: 365px;
                height: 56px;
                margin-top: 17px;
                border-radius: 6px;
                padding-left: 10px;
                font-size: 18px;
            }
            
            &__btn {
                width: 140px;
                height: 56px;
                margin-left: 16px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                background-color: transparent;
                color: $green;
                border: 1px solid $green;
                border-radius: 10px;
                outline: none;
                position: relative;
                transition: .5s;
                overflow: hidden;
                cursor: pointer;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to left, $green, rgb(51, 195, 231), rgb(0, 140, 221));
                    top: 0;
                    left: -100%;
                    opacity: .5;
                    transition: .5s;
                    border-radius: 10px;
                    z-index: -1;
                }

                &::after {
                    opacity: 1;
                    transition-delay: .2s;
                }

                &:hover {
                    color: #fff;
                }

                &:hover::before,
                &:hover::after {
                    left: 0;
                }

                .pulse {
                    background-color: lighten($green, 10%);
                    border-radius: 50%;
                    animation: pulse 0.7s ease-out;
                    transform: scale(0);
                    position: absolute;
                }

                @keyframes pulse {
                    to {
                        transform: scale(2);
                        background-color: #fff;
                        opacity: 0;
                    }
                }

            }
           
            &__note {
                font-size: 12px;
                font-weight: 300;
                line-height: 30px;
                margin-top: 9px;
                text-align: center;
                display: block;
                text-transform: lowercase;

                .agreement {
                    font-size: 12px;
                    text-transform: capitalize;

                    &__main, a {
                        text-transform: lowercase;
                        text-decoration: none;
                        position: relative;
                        transition: 0.2s;
                        font-size: 12px;
                    }

                    a::before {
                        content: '';
                        bottom: 0;
                        left: 0;
                        position: absolute;
                       // width: 0%;
                        width: 100%;
                        height: 2px;
                        background-color: $green;
                        transition: 0.2s;
                        transform: scaleX(0);
                    }
    
                     a:hover {
                        color: $green;
    
                        &::before {
                          //  width: 100%;
                          transform: scaleX(1);
                        }
                    }

                }
            }
        }
    }
}
