.travel {
    background-image: url(../assets/images/travel/cocktail-bg.png);
}

.content {
    padding: 160px 0px 120px;
    background-position: bottom right;
    background-repeat: no-repeat;

    .slider-arrows {
        top: 225px;
        opacity: .5;
        position: absolute;
        cursor: pointer;
        z-index: 5;
    }

    &-slider { 
        &__img {
            background-repeat: no-repeat;
            background-position: top left;
            min-height: 780px;
        }   
        
        &__headtitle {
            text-align: right;
            padding-top: 132px;
            padding-right: 84px;
        }

        &__maintitle {
            padding: 160px 0 0 132px;
            min-height: 300px;
            background-repeat: no-repeat;
            background-position: right center;
            transform: translateY(-250px);
            background-size: contain;

            .info-title__description {
                position: relative;
                padding-right: 78px;

                img {
                    position: absolute;              
                    right: 0;
                    top: 0;
                }
            }

        }

        &__info {
            display: flex;
            justify-content: space-around;
            transform: translateY(-150px);

            &rm {
                min-height: 200px;
                margin-bottom: 65px;
                position: relative;
            
                &-subtitle {
                    position: absolute;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 8px;
                    transform: rotate(-90deg);
                    white-space: nowrap;
                    opacity: .5;
                    top: 94px;
                    left: -100px;
                    width: 200px;
                    text-align: right;
                    height: 0;
                }

                &-title {
                    font-weight: 800;
                    font-size: 40px;
                    line-height: 36px;
                    padding-left: 40px;

                    small {
                        font-size: 14px;
                        line-height: 36px;
                        display: flex;
                        justify-content: flex-end;
                        letter-spacing: 5.25px;
                        opacity: 0.75;
                    }

                }
            }
        }

        &__btn {
            text-align: center;
            transform: translateY(-120px);
        }
    }
}