wrapper.callback
  .form-wrapper__callback
    input.form-toggle__callback(type='checkbox', name='toggle', id='form-toggle__callback')
    .form-container__callback
      form.callback-form.dark-bg(style='background-image: url(../assets/images/callback/call-bg.jpg);', action="#")
        .info-box 
          .header-box
            span.header-first Leave 
            span.header-second your number and we will call you back in a few minutes
        // /.info-box
        .info-box
          label.info-box__header(for='phone') Number
          input.info-box__data.popup-form__input(type='tel', name='phone', required)
        // /.info-box
        .info-box
          label.checkbox.checkbox-option
            input.checkbox__input(type='checkbox', required)
            span.checkbox_span
            span.info-box__endheader i 
              span agree to the processing of my 
              a(href='#') personal data
        // /.info-box
        button.button.btn-click
          | Submit
      // /.callback-form
      label.form-toggle__callback(for='form-toggle__callback')
        i.fa.fa-phone
        span Leave phone
      // /.form-toggle__callback
    // /.form-container__callback
    // /.form-toggle__callback
  // /.form-wrapper__callback
// /.callback