section.surf#map
    .block-name.wow.fadeInLeft(data-wow-offset='400')
      span
        span surf
        h3 surf
    // /.surf-title
    .surf-location
      .info-subtitle.wow.fadeInRight(data-wow-offset='400')
        .subtitle-line_left.surf-location__subtitle current location
        .surf-location__title
          | tyumen 
          span |
          |  russia
      // /.info-subtitle
    // /.surf-location
    .surf-map.wow.zoomInDown(data-wow-offset='350', data-wow-duration='1.5s')
      .mapinfo.mapinfo--1.wow.fadeInUp(data-wow-offset='100', data-wow-delay='1.6s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title cloud nine
              .mapinfo-content__area-subtitle philippines
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 3 - 5
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +27.6
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 2 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--2.wow.fadeInUp(data-wow-offset='100', data-wow-delay='1.7s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title malibu beach
              .mapinfo-content__area-subtitle USA
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 8 - 12
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +32.3
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 3 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--3.wow.fadeInUp(data-wow-offset='100', data-wow-delay='1.8s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title garbanzo beach
              .mapinfo-content__area-subtitle bagamas
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 5 - 9
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +35.6
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 5 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--4.wow.fadeInUp(data-wow-offset='100', data-wow-delay='1.9s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title pecado beach
              .mapinfo-content__area-subtitle brazilia
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 11 - 15
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +38.3
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 6 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--5.wow.fadeInUp(data-wow-offset='100', data-wow-delay='2s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title vueux boucao
              .mapinfo-content__area-subtitle france
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 6 - 11
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +28.5
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 2 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--6.wow.fadeInUp(data-wow-offset='100', data-wow-delay='2.1s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title buffalo bay
              .mapinfo-content__area-subtitle south africa
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 12 - 17
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +40.2
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 7 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--7.wow.fadeInUp(data-wow-offset='100', data-wow-delay='2.2s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title varka beach
              .mapinfo-content__area-subtitle india
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 10 - 15
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +36.2
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 5 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--8.wow.fadeInUp(data-wow-offset='100', data-wow-delay='2.3s')
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title airlie beach
              .mapinfo-content__area-subtitle australia
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='../assets/images/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 9 - 13
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +2.3
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='../assets/images/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 4 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
        .mapinfo-coords 34.0501 N -118.2446 W
        // /.mapinfo-coords
      // /.mapinfo
    // /.surf-map
    .surf-slider
      .surf-slider__img.wow.fadeInUp(data-wow-offset = '400', data-wow-delay='.2s')
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-1.png);')
          .surf-slider__item
            .surf-slider__item-title cloud nine
            .surf-slider__item-area
              | siargao 
              span |
              |  philippines
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img.wow.fadeInUp(data-wow-offset = '400', data-wow-delay='.4s')
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-2.png);')
          .surf-slider__item
            .surf-slider__item-title malibu beach
            .surf-slider__item-area
              | california 
              span |
              |  usa
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img.wow.fadeInUp(data-wow-offset = '400', data-wow-delay='.6s')
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-3.png);')
          .surf-slider__item
            .surf-slider__item-title garbanzo beach
            .surf-slider__item-area
              | garbanzo 
              span |
              |  bagamas
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img.wow.fadeInUp(data-wow-offset = '400', data-wow-delay='.8s')
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-4.png);')
          .surf-slider__item
            .surf-slider__item-title pecado beach
            .surf-slider__item-area
              | rio de janeiro 
              span |
              |  brazilia
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-5.png);')
          .surf-slider__item
            .surf-slider__item-title vueux boucau
            .surf-slider__item-area
              | marseille 
              span |
              |  france
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-6.png);')
          .surf-slider__item
            .surf-slider__item-title buffalo bay
            .surf-slider__item-area
              | knysna
              span |
              |  sa
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-7.png);')
          .surf-slider__item
            .surf-slider__item-title varka beach
            .surf-slider__item-area
              | goa 
              span |
              |  india
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
      .surf-slider__img
        .surf-slider__box(style='background-image: url(../src/assets/images/surf/slider/slide-8.png);')
          .surf-slider__item
            .surf-slider__item-title airlie beach
            .surf-slider__item-area
              | queensland 
              span |
              |  australia
            .surf-slider__item-btn
              a.btn.btn-to-blog(href='#')
                | view 
                span.btn-click blog
          // /.surf-slider__item
        // /.surf-slider__box
      // /.surf-slider__img
    // /.surf-slider
// /.surf