doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Surf travel
  link(href='https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,800&display=swap', rel='stylesheet')
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  //link(rel='stylesheet', href='css/style.min.css')
  

//- Include head
include ./blocks/header.pug
.container
  include ./blocks/blog.pug 
  include ./blocks/surf.pug 
  include ./blocks/travel.pug 
  include ./blocks/sleep.pug 
  include ./blocks/shop.pug
// /.container
include ./blocks/footer.pug
include ./blocks/modal.pug
include ./blocks/feedback.pug
include ./blocks/callback.pug
