doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Surf travel
  link(href='https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,800&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='css/style.min.css')
//- Include head
include ../pug/pages/header.pug  
.container
  include ../pug/pages/surf.pug 
  include ../pug/pages/travel.pug 
  include ../pug/pages/sleep.pug 
  include ../pug/pages/shop.pug
// /.container
include ../pug/pages/footer.pug

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='js/libs.min.js')
script(src='js/main.js')