section.blog.hide
  .section-heading
    span.section-name
      span Top #8 beaches
      h3 Top #8 beaches
  // /.section-heading
  .cards.cards-blog
  // /.cards
// /.blog
section.beach.hide
  .section-heading
    a.btn-from-description
      img(src="img/header/pagination/arrow-left.svg")
    h2.section-title.beach-title Cloud Nine
    .card-info
      .rating 4.5
      .category.category-menu Siargao | Phillipines
    // /.card-info
  // /.section-heading
  .cards.cards-beach
  // /.cards
  .img-descr
    img.cards-img(src="")
  .card-description
  // /.card-description
// /.menu
.blog__btn
  a.btn.btn-from-blog.hide(href='')
    | return 
    span.btn-click back
// /.blog__btn