section.shop#shop
    .block-name.wow.fadeInLeft(data-wow-offset='400')
      span
        span shop
        h3 shop
    // /.shop-title
    .shop-slider
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform.wow.slideInLeft(data-wow-offset='200', data-wow-delay='.2s')
            .shop-info
              .subtitle-line_right style
              .info-title__description north nugget tt surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li.wow.fadeInLeft(data-wow-offset = '100', data-wow-delay='2.1s')
                  img(src='img/sleep/slider/star.svg', alt='')
                li.wow.fadeInLeft(data-wow-offset = '100', data-wow-delay='2.2s')
                  img(src='img/sleep/slider/star.svg', alt='')
                li.wow.fadeInLeft(data-wow-offset = '100', data-wow-delay='2.3s')
                  img(src='img/sleep/slider/star.svg', alt='')
                li.wow.fadeInLeft(data-wow-offset = '100', data-wow-delay='2.4s')
                  img(src='img/sleep/slider/star.svg', alt='')
                li.wow.fadeInLeft(data-wow-offset = '100', data-wow-delay='2.5s')
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $799
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn#shop-btn
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard.wow.fadeInUp(data-wow-offset='200')
              img(src='img/shop/slider/surfboard-slide-1.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | double concave with vee shape low point
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | a soft rail is wrapped in water
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | improve mobility &amp; make turns heavy
              // /.surfboard-info
            // /.surfboard
            .extras.wow.slideInRight(data-wow-offset='200', data-wow-delay='.4s')
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/wax-logo.png', alt='')
                  .extras-block__title sex wax
                  .extras-block__price $24.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/pura-logo.png', alt='')
                  .extras-block__title pura vida
                  .extras-block__price $27.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description south coast surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $569
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn#shop-btn
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-2.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | the ability to swim in any body of water
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | often used by photographers, fishers, lifeguards
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | have a good water resistance
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/leashg-logo.png', alt='')
                  .extras-block__title leash wax
                  .extras-block__price $21.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/fin-logo.png', alt='')
                  .extras-block__title fin fastlight
                  .extras-block__price $32.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description west pill head surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $699
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn#shop-btn
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-3.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | good stability on almost any wave
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | differs in a rigid design and shows big mobility
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | allows to comfortably go out to the middle waves
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/leashb-logo.png', alt='')
                  .extras-block__title leash wax
                  .extras-block__price $21.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/stomppad-logo.png', alt='')
                  .extras-block__title stomp pad
                  .extras-block__price $37.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description surftech ch islands
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $759
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn#shop-btn
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-4.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | helps to master professional tricks
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | suitable for small waves
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | forked tail for good acceleration &amp; mobility
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/finlight-logo.png', alt='')
                  .extras-block__title 3Dfin fastlight
                  .extras-block__price $34.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/bag-logo.png', alt='')
                  .extras-block__title surf bag
                  .extras-block__price $18.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
    // /.shop-slider
// /.shop