section.shop#shop
    .block-name
      span
        span shop
        h3 shop
    // /.shop-title
    .shop-slider
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description north nugget tt surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $799
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn(href='#')
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-1.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | double concave with vee shape low point
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | a soft rail is wrapped in water
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | improve mobility &amp; make turns heavy
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/wax-logo.png', alt='')
                  .extras-block__title sex wax
                  .extras-block__price $24.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/pura-logo.png', alt='')
                  .extras-block__title pura vida
                  .extras-block__price $27.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description north nugget tt surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $799
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn(href='#')
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-1.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | double concave with vee shape low point
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | a soft rail is wrapped in water
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | improve mobility &amp; make turns heavy
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/wax-logo.png', alt='')
                  .extras-block__title sex wax
                  .extras-block__price $24.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/pura-logo.png', alt='')
                  .extras-block__title pura vida
                  .extras-block__price $27.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description north nugget tt surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $799
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn(href='#')
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-1.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | double concave with vee shape low point
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | a soft rail is wrapped in water
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | improve mobility &amp; make turns heavy
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/wax-logo.png', alt='')
                  .extras-block__title sex wax
                  .extras-block__price $24.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/pura-logo.png', alt='')
                  .extras-block__title pura vida
                  .extras-block__price $27.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
      .shop-slider__item
        .shop-slider__info
          .shop-slider__inform
            .shop-info
              .subtitle-line_right style
              .info-title__description north nugget tt surfboard
            // /.shop-info
            .shop-price
              ul.shop__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
              span
                | $799
                sup 99
            // /.shop-price
            .shop-slider__btn
              a.btn(href='#')
                | drop 
                span in
            // /.shop-slider__btn
          // /.shop-slider__inform
          .shop-slider__product
            .surfboard
              img(src='img/shop/slider/surfboard-slide-1.png', alt='')
              .surfboard-info.surf-box--1
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | double concave with vee shape low point
              // /.surfboard-info
              .surfboard-info.surf-box--2
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | a soft rail is wrapped in water
              // /.surfboard-info
              .surfboard-info.surf-box--3
                .surfboard-info__dots
                  .dot-1
                  .dot-2
                .surfboard-info__content
                  | improve mobility &amp; make turns heavy
              // /.surfboard-info
            // /.surfboard
            .extras
              .extras__head Extras
              .extras-blocks
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/wax-logo.png', alt='')
                  .extras-block__title sex wax
                  .extras-block__price $24.99
                // /.extras-block
                .extras-block
                  .extras-block__logo
                    img(src='img/shop/slider/pura-logo.png', alt='')
                  .extras-block__title pura vida
                  .extras-block__price $27.99
                // /.extras-block
              // /.extras-blocks
          // /.shop-slider__product
        // /.shop-slider__info
      // /.shop-slider__item
    // /.shop-slider
// /.shop