section.sleep.content
    .block-name
      span
        span sleep
        h3 sleep
    // /.sleep-title
    .content-slider
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
      .content-slider__item
        .content-slider__img(style='background-image: url(img/sleep/slider/sleep-bg-1.png);')
          .content-slider__headtitle
            .info-subtitle
              .subtitle-line_left resorts
              .info-subtitle__description
                | auberge 
                span |
                |  australia
            // /.info-subtitle
          // /.content-slider__headtitle
        // /.content-slider__img
        .content-slider__maintitle(style='background-image: url(img/sleep/slider/bed-slide-1.png);')
          .info-title
            .subtitle-line_right rating
            .info-title__description
              | excellent 
              ul.content__star-list.star-list
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
                li
                  img(src='img/sleep/slider/star.svg', alt='')
          // /.info-title
        // /.content-slider__maintitle
        .content-slider__info
          .content-slider__inform
            .content-slider__inform-subtitle resort
            .content-slider__inform-title
              | auberge 
              br
              | australia
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of nights
            .content-slider__inform-title
              .quantity
                input.nights(type='number', min='1', max='50', step='1', value='5')
              // /.quantity
              span.quantity_edit nights
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle # of guests
            .content-slider__inform-title
              .quantity
                input.guests(type='number', min='1', max='50', step='1', value='4')
              // /.quantity
              span.quantity_edit guests
          // /.content-slider__inform
          .content-slider__inform
            .content-slider__inform-subtitle  pricing
            .content-slider__inform-title
              span.sum(data-nights='45', data-guests='35')
              |                usd
              small per night
          // /.content-slider__inform
        // /.content-slider__info
        .content-slider__btn
          a.btn(href='#')
            | book 
            span stay
        // /.content-slider__btn
      // /.content-slider__item
    // /.content-slider
// /.sleep