section.surf
    .block-name
      span
        span surf
        h3 surf
    // /.surf-title
    .surf-location
      .subtitle-line_left.surf-location__subtitle current location
      .surf-location__title
        | california 
        span |
        |  usa
    // /.surf-location
    .surf-map
      .mapinfo.mapinfo--1
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title cloud nine
              .mapinfo-content__area-subtitle philippines
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 3 - 5
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +27.6
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 2 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--2
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title malibu beach
              .mapinfo-content__area-subtitle USA
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 8 - 12
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +32.3
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 3 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--3
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title garbanzo beach
              .mapinfo-content__area-subtitle bagamas
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 5 - 9
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +35.6
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 5 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--4
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title pecado beach
              .mapinfo-content__area-subtitle brazilia
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 11 - 15
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +38.3
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 6 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--5
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title vueux boucao
              .mapinfo-content__area-subtitle france
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 6 - 11
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +28.5
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 2 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--6
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title buffalo bay
              .mapinfo-content__area-subtitle south africa
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 12 - 17
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +40.2
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 7 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--7
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title varka beach
              .mapinfo-content__area-subtitle india
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 10 - 15
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +36.2
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 5 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
      // /.mapinfo
      .mapinfo.mapinfo--8
        .mapinfo-placemark
        .mapinfo-content
          .mapinfo-content__block
            .mapinfo-content__area
              .mapinfo-content__area-title airlie beach
              .mapinfo-content__area-subtitle australia
            // /.mapinfo-content__area
            a.mapinfo-content__link(href='#')
              img(src='img/header/pagination/arrow-right.svg', alt='')
          // /.mapinfo-content__block
          .mapinfo-content__block
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-1.svg', alt='')
              .mapinfo-content__item-value 9 - 13
              .mapinfo-content__item-unit sure(ft)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-2.svg', alt='')
              .mapinfo-content__item-value +2.3
              .mapinfo-content__item-unit
                | tide(
                sup o
                | &Scy;)
            // /.mapinfo-content__item
            .mapinfo-content__item
              img(src='img/surf/map/content-icon-3.svg', alt='')
              .mapinfo-content__item-value 4 se
              .mapinfo-content__item-unit wind(kts)
            // /.mapinfo-content__item
          // /.mapinfo-content__block
        // /.mapinfo-content
        .mapinfo-coords 34.0501 N -118.2446 W
        // /.mapinfo-coords
      // /.mapinfo
    // /.surf-map
    .surf-slider
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-1.png);')
        .surf-slider__item
          .surf-slider__item-title cloud nine
          .surf-slider__item-area
            | siargao 
            span |
            |  philippines
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-2.png);')
        .surf-slider__item
          .surf-slider__item-title malibu beach
          .surf-slider__item-area
            | california 
            span |
            |  usa
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-3.png);')
        .surf-slider__item
          .surf-slider__item-title garbanzo beach
          .surf-slider__item-area
            | garbanzo 
            span |
            |  bagamas
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-4.png);')
        .surf-slider__item
          .surf-slider__item-title pecado beach
          .surf-slider__item-area
            | rio de janeiro 
            span |
            |  brazilia
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-5.png);')
        .surf-slider__item
          .surf-slider__item-title vueux boucau
          .surf-slider__item-area
            | hossegor 
            span |
            |  france
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-6.png);')
        .surf-slider__item
          .surf-slider__item-title buffalo bay
          .surf-slider__item-area
            | buffalo bay 
            span |
            |  south africa
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-7.png);')
        .surf-slider__item
          .surf-slider__item-title varka beach
          .surf-slider__item-area
            | goa 
            span |
            |  india
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
      .surf-slider__img(style='background-image: url(img/surf/slider/slide-8.png);')
        .surf-slider__item
          .surf-slider__item-title airlie beach
          .surf-slider__item-area
            | queensland 
            span |
            |  australia
          .surf-slider__item-btn
            a.btn(href='#')
              | view 
              span surf
        // /.surf-slider__item
      // /.surf-slider__img
    // /.surf-slider
// /.surf