section.travel.content#travel
    .container
      .block-name.wow.fadeInLeft(data-wow-offset='400')
        span
          span travel
          h3 travel
      // /.travel-title
      .content-slider
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle.wow.fadeInRight(data-wow-offset='400')
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle.wow.zoomInUp(data-wow-offset='100', data-wow-duration='2s', style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.2s')
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.4s')
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.6s')
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.8s')
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976 
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976 
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976 
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976 
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span flight
          // /.content-slider__btn
        // /.content-slider__item
      // /.content-slider
    // /.container
// /.travel