section.travel.content#travel
    .container
      .block-name.wow.fadeInLeft(data-wow-offset='400')
        span
          span travel
          h3 travel
      // /.travel-title
      .content-slider
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-1.png);')
            .content-slider__headtitle
              .info-subtitle.wow.fadeInRight(data-wow-offset='400')
                .subtitle-line_left shore
                .info-subtitle__description
                  | cloud nine
                  span |
                  |  phillipines
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle.wow.zoomInUp(data-wow-offset='100', data-wow-duration='2s', style='background-image: url(img/travel/slider/plane-slide-1.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | virgin australia 
                img(src='img/travel/slider/avia-logo-1.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.2s')
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | siargao
                br
                | phillipines
            // /.content-slider__inform
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.4s')
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 8,175 miles
            // /.content-slider__inform
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.6s')
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 26 hours 
                br
                |  12 minutes
            // /.content-slider__inform
            .content-slider__inform.wow.fadeInUp(data-wow-offset = '200', data-wow-delay='.8s')
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $2,138
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-2.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | malibu beach 
                  span |
                  |  usa
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-2.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | cambodian airways 
                img(src='img/travel/slider/avia-logo-2.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | california
                br
                | usa
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 6,021 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 20 hours 
                br
                |  48 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,798 
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-3.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | garbanzo beach 
                  span |
                  |  bagamas
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-3.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | aeroflot airways
                img(src='img/travel/slider/avia-logo-3.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | garbanzo
                br
                | bahamas
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 5,178 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 18 hours 
                br
                |  44 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,564
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-4.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | pecado beach
                  span |
                  |  brasil
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-4.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | fuerza airways
                img(src='img/travel/slider/avia-logo-4.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | rio de janeiro
                br
                | brasil
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 5,932 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 20 hours 
                br
                |  12 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,712
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-5.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | vueux boucao 
                  span |
                  |  france
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-5.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | lufthansa airways
                img(src='img/travel/slider/avia-logo-5.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | marseille
                br
                | france
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 3,871 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 14 hours 
                br
                |  18 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,233
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-6.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | buffalo bay
                  span |
                  |  south africa
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-6.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | s7 airlines
                img(src='img/travel/slider/avia-logo-6.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | knysna
                br
                | south africa
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 6,233 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 21 hours 
                br
                |  58 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,883
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-7.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | varka beach 
                  span |
                  |  india
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-7.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | air union airways
                img(src='img/travel/slider/avia-logo-7.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | goa 
                br
                | india
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 4,988 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 17 hours 
                br
                |  25 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,442
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
        .content-slider__item
          .content-slider__img(style='background-image: url(img/travel/slider/travel-bg-8.png);')
            .content-slider__headtitle
              .info-subtitle
                .subtitle-line_left shore
                .info-subtitle__description
                  | airlie beach 
                  span |
                  |  australia
              // /.info-subtitle
            // /.content-slider__headtitle
          // /.content-slider__img
          .content-slider__maintitle(style='background-image: url(img/travel/slider/plane-slide-8.png);')
            .info-title
              .subtitle-line_right airline
              .info-title__description
                | klm airlines 
                img(src='img/travel/slider/avia-logo-8.svg', alt='')
            // /.info-title
          // /.content-slider__maintitle
          .content-slider__info
            .content-slider__inform
              .content-slider__inform-subtitle destination
              .content-slider__inform-title
                | queensland 
                br
                | australia
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle distance
              .content-slider__inform-title 7,065 miles
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle travel time
              .content-slider__inform-title
                | 23 hours 
                br
                |  5 minutes
            // /.content-slider__inform
            .content-slider__inform
              .content-slider__inform-subtitle  pricing
              .content-slider__inform-title
                | $1,976
                small round trip
            // /.content-slider__inform
          // /.content-slider__info
          .content-slider__btn
            a.btn(href='#')
              | book 
              span.btn-click flight
          // /.content-slider__btn
        // /.content-slider__item
      // /.content-slider
    // /.container
// /.travel