/* .form-wrapper__callback.active { */
.form-wrapper__callback.active {
    display: block;
    z-index: 20;

    .form-toggle__callback {
        display: block;
        background: linear-gradient(to left, $green, rgb(51, 195, 231), rgb(0, 140, 221));
        //background: $green;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        padding: 5px 0;
        border-radius: 0 0 8px 8px;
        width: 85%;
        cursor: pointer;

        &[type='checkbox'] {
            display: none;
        }

        &:checked ~ .form-container__callback {
            transform: translateY(0);
            position: fixed;  
        }
    }

    .form-toggle__callback i {
        position: absolute;
        bottom: 3px;
        left: 70px;
        font-size: 25px;
    }
    
    .form-container__callback {
        width: 400px;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 5%;
        transform: translateY(-290px);
        opacity: .8;
        transition: .5s;
        z-index: 10;
        

        &:hover {
            transform: translateY(-275px);
            opacity: 1;
        }

        .callback-form {
            padding: 20px;
            border: 3px solid $green;

            .info-box {
                position: relative;
                margin: 0 0 30px;
                
                .header-box {
                    text-align: center;
                    font-size: 20px;
                    color: #fff;

                    .header-first {
                        text-transform: capitalize;
                    }
    
                    .header-second {
                        text-transform: lowercase;
                    }
                }

                &__header {
                    position: absolute;
                    font-size: 18px;
                    color: #fff;
                    text-transform: capitalize;
                    line-height: 55px;
                    padding-left: 5px;
                    transition: .5s;

                }

                &__endheader,
                &__endheader a {
                    color: #fff;
                }

                
                &__endheader span,
                &__endheader a {
                    text-transform: lowercase;
                    text-decoration: none;
                    position: relative;
                    transition: 0.2s;
                }

                &__endheader a::before {
                    content: '';
                    bottom: 0;
                    left: 0;
                    position: absolute;
                   // width: 0%;
                    width: 100%;
                    height: 2px;
                    background-color: $green;
                    transition: 0.2s;
                    transform: scaleX(0);
                }

                &__endheader a:hover {
                    color: $green;

                    &::before {
                      //  width: 100%;
                      transform: scaleX(1);
                    }
                }

                &__data {
                    position: relative;
                    background: transparent;
                    width: 100%;
                    height: 50px;
                    font-size: 20px;
                    color: #fff;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #fff;
                }

                textarea.info-box__data {
                    height: 100px;
                    margin-top: 12px;
                }

                .checkbox-option {
                    display: block;
                    margin-bottom: 0.5em;
                }
                
                .checkbox {
                    padding-left: 1.2em;

                    &__input {
                        position: absolute;
                        appearance: none;
                    }

                    &_span {
                        position: absolute;
                        margin-top: 0.2em;
                        margin-left: -1em;
                        width: 0.6em;
                        height: 0.6em;
                        overflow: hidden;
                        border-radius: 0.05em;
                        background-color: white;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        box-shadow: 0 0 0 0.1em #4A90E2;
                    }

                    /* Checked */

                    &__input:checked + .checkbox_span {
                        background-color: rgba(115, 201, 23, 0.774);
                        background-image: url('https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518');
                    }

                    /* Focused */

                    &__input:focus + .checkbox_span {
                        box-shadow:
                            0 0 0 0.1em $green,
                            0 0 0 0.2em #4A90E2;
                    }

                    /* Disabled */

                    &__input:disabled + .checkbox_span {
                        box-shadow: 0 0 0 0.1em #4A90E2;
                    }

                    &__input:checked:disabled + .checkbox_span {
                        background-color: #9B9B9B;
                    }
                }
            }
        

            .button {
                width: 100px;
                height: 36px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                background-color: transparent;
                color: $green;
                border: 1px solid $green;
                border-radius: 10px;
                margin-left: 70%;
                outline: none;
                position: relative;
                transition: .5s;
                overflow: hidden;
                cursor: pointer;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to left, $green, rgb(51, 195, 231), rgb(0, 140, 221));
                    top: 0;
                    left: -100%;
                    opacity: .5;
                    transition: .5s;
                    border-radius: 10px;
                    z-index: -1;
                }

                &::after {
                    opacity: 1;
                    transition-delay: .2s;
                }

                &:hover {
                    color: #fff;
                }

                &:hover::before,
                &:hover::after {
                    left: 0;
                }

                .pulse {
                    background-color: lighten($green, 10%);
                    border-radius: 50%;
                    animation: pulse 0.7s ease-out;
                    transform: scale(0);
                    position: absolute;
                }

                @keyframes pulse {
                    to {
                        transform: scale(2);
                        background-color: #fff;
                        opacity: 0;
                    }
                }
            }

            .focus {
                .info-box {
                    &__header {
                        transform: translateY(-35px);
                        font-size: 16px;
                        color: $green;
                    }
                }
            }
        }
    }
}


.form-wrapper__callback {
    display: none;
} 
