.header {
    &__slider {
        &-page {
            height: 100vh;
            background-image: url(../img/header/main/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }
}

.slider {
    &-page {
        &__info {
            position: absolute;
            right: 80px;
            bottom: 116px;
            text-align: right;
            color: #fff;
            text-transform: uppercase;

            &-subtitle {
                margin-bottom: 5px;
            }

            &-title {
                font-weight: 800;
                font-size: 80px;
                line-height: 86px;
                text-align: right;
                margin-bottom: 48px;
            }

            &-text {
                font-weight: 800;
                font-size: 40px;
                line-height: 46px;
                margin-bottom: 20px;
            }

            &-link {
                outline:none;
            }
        }
    }
}

.subtitle_second {
    margin-bottom: 8px;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 3;
    cursor: pointer;

    &__left {
        right: 125px;
    }
}