.overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(#171717, 0.6);
    transition: all 1.2s;

    &__active {
        display: block;
    }

    .popup {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        width: 752px;
        
        &-close {
            position: absolute;
            right: -20px;
            top: -30px;
            font-size: 45px;
            color: #fff;
            font-weight: 300;
            cursor: pointer;
            transform: rotate(-75deg);
            transition: all 0.6s;

            &:hover {
                transform: rotate(90deg);
            }
        }
        

        &-title {
            display: block;
            width: 100%;
            min-height: 71px;
            margin: 0;
            background-color: $green;
            color: #fff;
            text-transform: uppercase;
            line-height: 71px;
            font-size: 21px;
            font-weight: 500;
            text-align: center;
        }

        &-form {
            background: url(../img/modal/modal-bg.jpg) center no-repeat;
            background-size: cover;
            padding: 35px 88px 50px 88px;
            color: #fff;

            &__header {
                padding: 0;
                font-size: 30px;
                font-weight: 400;
                line-height: 27px;
                text-align: center;
                    
                    span {
                        font-size: 20px;
                        text-transform: lowercase;
                    }
            }
            
            &__label {
                display: block;
                margin-top: 23px;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                text-transform: lowercase;

                span {
                    text-transform: capitalize;
                }
            }
            
            &__input {
                width: 365px;
                height: 56px;
                margin-top: 17px;
                border-radius: 6px;
                padding-left: 10px;
                font-size: 18px;
            }
            
            &__btn {
                width: 140px;
                height: 56px;
                margin-left: 16px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                background-color: $green;
                outline: none;
            }
           
            &__note {
                font-size: 14px;
                font-weight: 300;
                line-height: 30px;
                margin-top: 9px;
                text-align: center;
                display: block;
                text-transform: lowercase;

                span {
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
    }
}
