.surf {
    padding: 160px 0px 120px;
    background-image: url(../img/surf/surf-location.svg);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;

    &-location {
        text-align: right;
        padding-right: 80px;
        transform: translateY(-100%);

        &__title {
            font-weight: 800;
            font-size: 40px;
            padding-right: 10px;

            span {
                font-weight: 100;
            }
        }
    }

    &-map {
        max-width: 1200px;
        min-height: 635px;
        background-image: url(../img/surf/map/map-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;

        .slick-list {
            min-height: 635px;
        }

        .slick-current {
            .mapinfo {
                &-content {
                    display: block;
                    width: 285px;
                    padding: 28px 31px 0 32px;
                }
            }
        }

        .mapinfo {
            position: relative;

            &-coords {
                position: absolute;
                transform: rotate(-90deg);
                right: -130px;
                top: -120px;
                font-size: 18px;
                line-height: 22px;
                color: rgba(#fff, .5);
                letter-spacing: 8px;
                white-space: nowrap; 

            }

            &--1 {
                top: 335px;
                left: 0;

                // fix pop-up content by 1 placemark
                .mapinfo {
                    &-content {
                        transform: translateX(0);
                        z-index: 6;
                        &::before {
                            left: 0;
                        }
                    }
                }
            }
            &--2 {
                top: 270px;
                left: 0;
                
                .mapinfo-placemark {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url(../img/surf/map/map-placemark.svg);
                        width: 14px;
                        height: 17px;
                        background-size: cover;
                        right: -20px;
                        top: -25px
                    }
                }
            }
            &--3 {
                top: 330px;
                left: 25px;
            }
            &--4 {
                top: 470px;
                left: -25px;
            }
            &--5 {
                top: 230px;
                left: -65px;
            }
            &--6 {
                top: 550px;
                left: -120px;
            }
            &--7 {
                top: 375px;
                left: -95px;
            }
            &--8 {
                top: 470px;
                left: 35px;

                 // fix pop-up content by 8 placemark
                 .mapinfo {
                    &-content {
                        transform: translateX(-262px);
                        z-index: 6;
                        &::before {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }

            &-placemark {
                background-color: $green;
                width: 23px;
                height: 23px;
                border-radius: 50%;
            }

            &-content {
                display: none;
                border-radius: 6px;
                position: absolute;
                bottom: 35px;
                background: rgba(#0F1010, .7);
                transform: translateX(-50%);

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    bottom: -21px;
                    left: 50%;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 20px solid $green;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    z-index: 6;
                }

                &__block {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 31px;
                }

                &__area {
                    &-title {
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: 800;
                        padding-bottom: 8px;
                        margin-bottom: 8px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            border: 1px solid $green;
                            width: 80px;
                            height: 1px;
                            left: 0;
                            bottom: 0;
                        }
                    }

                    &-subtitle {
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: capitalize;
                    }
                }

                &__link {
                    padding-top: 4px;
                }

                &__item {
                    text-align: center;

                    img {
                        margin: 8px;
                    }

                    &-value {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 23px;
                    }

                    &-unit {
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }
    }

    &-slider {
        padding-top: 109px;

        .slider-arrows {
            top: 50px;
            opacity: .3;
        }

        .slick-slide:nth-child(4n+1) {
            .surf {
                &-slider {
                    &__img {
                        margin-top: 32px;
                    }
                }
            }
        }

        .slick-slide:nth-child(4n+3) {
             .surf {
                &-slider {
                    &__img {
                        margin-top: 89px;
                    }
                }
            }
        }

        .slick-current {
            .surf {
                &-slider {
                    &__item {
                        background: rgba(#1C2121, .3);
                    }
                }
            }
        }

        &__img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__item {
            position: relative;
            min-height: 750px;
            background: rgba(#1C2121, .85);

            &:hover {
               // background: rgba(#1C2121, .3);
                .surf {
                    &-slider {
                        &__item { 
                            &-btn {
                                display: block;
                            }
                        }
                    }
                }
            }

            &-title {
                padding: 72px 0 0 40px;
                width: 139px;
                font-size: 40px;
                font-weight: 800;
                line-height: 36px;
            }

            &-area {
                white-space: nowrap; //display: inline-flex;
                position: absolute;
                left: 40px;
                bottom: 80px;
                width: 0;
                height: 0;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 8px;
                transform: rotate(-90deg);

                span {
                    font-weight: 100;
                }
            }

            &-btn {
                position: absolute;
                text-align: center;
                left: 0;
                right: 0;
                bottom: 0;
                display: none;
            }
        }
    }
}

.btn {
    font-size: 33px;
    font-weight: 800;
    line-height: 36px;

    span {
        padding: 17px 47px 15px 17px;
        background-color: $green;
        display: inline-flex;
        margin-left: 19px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: -10px;
        }

        &::after {
            content: "";
            position: absolute; 
            width: 25px;
            height: 21px;
            background-image: url(../img/header/pagination/arrow-right.svg);
            top: 50%;
            right: 12px;
            transform: translateY(-40%);
        }
    }
}
